
@import '../../../../../assets/scss/variables.scss';

.poagref-marquee-bar {
  background-color: $paogref-light;
  color: $paogref-dark;

  .marquee-left {
    background-color: $paogref-green;
    color: $paogref-light;
    //  padding: 1rem;
    font-weight: 500;
  }



  .marquee-container {
    .list-item {
      list-style-type: none;
      padding: 0rem 3rem;

      &::before {
        content: "";
        border-color: transparent #8dc63f;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 13px;
        position: relative;
      }

      & a {
        color: $paogref-dark;

        &:hover {
          text-decoration: none;
          position: relative;
          color: $paogref-red;
        }
      }


    }
  }
}

.announcements {
  .marquee {
    height: 100%;

    .link {
      position: relative;
      top: -3px;
    }
  }
}
