$paogref-light:#fff;
$paogref-dark:#000;
$paogref-green:#025b29;
$paogref-green-light:#17c563;
$paogref-blue:#0b2b68;
$paogref-dark-gray:#050b11;
$paogref-red:#db0004;
$paogref-red-light:#c61014;
$paogref-b-color:#00000020;


$paogref-font-size:14px;

// For navbar 
$navbar-bg-color:$paogref-red;
$navbar-bg-hover-color:$paogref-red-light;
$navbar-color:$paogref-light;
$navbar-font-size:14px;
$navbar-font-weight:400;
// For Banner
$banner-height:375px;
$banner-bg-color:$paogref-light;
$banner-color:$paogref-light;
$banner-font-size:1rem;
$banner-font-weight:500;

// For footer
$footer-bg-color:$paogref-dark-gray;

// For Whats new
$home-wrapper-top-bg-color:#f1eedd;
$home-wrapper-top-right-bg-color:#0a315c;
