<footer class="footer">
  <div class="container-fluid p-0 ">
    <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6col-lg-6 col-xl-6">
        <h6>Quick Links</h6>
        <div class="row m-0">
          <div class="nav-item col-12 col-sm-12 col-md-6col-lg-6 col-xl-6" *ngFor="let quickLink of quickLinks">
            <a class="nav-link" routerLink="{{quickLink.url}}">
              {{quickLink.name}}
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h6>Contact</h6>
        <div class="row m-0">
          <div class=" col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 contact-item-container" *ngFor="let item of contact">
            <div class="contact-item">
              <h6 class="contact-head text-uppercase">{{item.name}}</h6>
              <ng-container *ngIf="item.name == 'Address'; else contactItem">
                <address class="m-0" *ngFor="let childItem of item.items">
                  {{childItem.text}}
                </address>
              </ng-container>

              <ng-template #contactItem>
                <ng-container *ngFor="let child of item.items; let i = index">
                  <a class="tel" ngClass="{{child.class}}" href="{{child.url}}">{{child.text}}<span
                      *ngIf="i!=item.items.length-1">,</span></a> <br *ngIf="i==1" />
                </ng-container>
              </ng-template>

            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row m-0">
      <div class="col-12">
        <p class="text-muted"> &copy; Copyright <span class="text-uppercase">Testing.</span> All Rights Reserved </p>
      </div>
    </div>
  </div>

</footer>
