<div class="subpage wrapper layout-up">
  <app-site-subpage-banner [heading]="'News'" [bannerClass]="'bg-dark-blue-img'"></app-site-subpage-banner>
  <section class="site-subpage-content news-container">
    <div class="container">
      <div class="row content-wrapper">
        <div class="col-12">
          <div class="card shadow-lg rounded-0 subpage-card">
            <div class="card-body p-2">
              <tabset>
                <tab heading="All">


                  <div class="container p-2 pt-3">
                    <h5 class="tab-content-head">All News </h5>
                    <div class="tab-content">


                      asdasd
                    </div>
                  </div>


                </tab>
                <tab heading="NPS">
                  <div class="container p-2 pt-3">
                    <h5 class="tab-content-head">NPS </h5>
                    <div class="tab-content">


                      NPS section
                    </div>
                  </div>

                </tab>
                <tab heading="Tax">
                  <div class="container p-2 pt-3">
                    <h5 class="tab-content-head">Tax </h5>
                    <div class="tab-content">


                      Tax content
                    </div>
                  </div>

                </tab>
              </tabset>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
