<div class="subpage wrapper layout-up">

  <app-site-subpage-banner [heading]="'Appendix - J'" [bannerClass]="'bg-dark-blue-img'"></app-site-subpage-banner>
  <section class="site-subpage-content">
    <div class="container">
      <div class="row content-wrapper">
        <div class="col-12">
          <div class="card shadow-lg rounded-0 subpage-card">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>


            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>
