<section class="wrapper header-wrapper">
    <div class="header-container container">

        <div class="row m-0">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 header-left clearfix logo">
<div class="row m-0">
    <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-3 p-0">
        <a href="/" title="Home" rel="home" class="header__logo" id="logo">
         <img class="national_emblem" src="../../../assets/images/logo.png" alt="national emblem">
        </a>
    </div>
    <div class="col-9 col-sm-8 col-md-8 col-lg-8 col-xl-8 p-0">
        <h5 class="m-0 p-2 logo-txt">PAYACCOUNTS OFFICE (GREF) <br> GOVERNMENT OF INDIA <br> MINISTRY OF
                            DEFENCE</h5>
    </div>
</div>

                <!-- <h1 class="logo">
                    <a href="/" title="Home" rel="home" class="header__logo" id="logo">
                         <div class="sw-logo img-container"> 
  <img class="national_emblem" src="../../../assets/images/logo.png" alt="national emblem">
                         </div> 
                      
                        <p class="m-0 logo-txt">PAYACCOUNTS OFFICE (GREF) <br> GOVERNMENT OF INDIA <br> MINISTRY OF
                            DEFENCE</p>


                    </a>
                </h1> -->
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 header-right">
                <div class="float-right">
                    <a class="sw-logo" target="_blank" href="#" title="">
                        <img class="national_emblem" src="../../../assets/images/emnlem.png" alt="national emblem">
                    </a>
                </div>
            </div>
        </div>



    </div>
</section>