<div class="subpage wrapper layout-up">
  <app-site-subpage-banner [heading]="'Section'" [bannerClass]="'bg-dark-blue-img'"></app-site-subpage-banner>
  <section class="site-subpage-content faqs">
    <div class="container subpage-container">
      <div class="row content-wrapper">
        <div class="col-12">
          <div class="card shadow-lg rounded-0 subpage-card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h4>Test heading ne</h4>
                  <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Test heading ne</h4>
                  <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Test heading ne</h4>
                  <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Test heading ne</h4>
                  <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
              </div>
              <div class="row ">
                <div class="col-12">
                  <h4 class="text-color-green">Test heading ne</h4>
                  <div class="row m-0">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                      <p class="section-txt bg-green text-light  p-2 m-0 mb-2 mr-1"> Lorem Ipsum is simply dummy text of
                        the
                        printing and
                        typesetting industry. Lorem Ipsum has</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0 ">
                      <p class="section-txt bg-green text-light p-2 m-0 mb-2 ml-1"> Lorem Ipsum is simply dummy text of
                        the
                        printing and
                        typesetting industry. Lorem Ipsum has</p>
                    </div>
                  </div>
                  <div class="row m-0">
                    <div class="col-12  p-0">
                      <p class="section-txt bg-green text-light  p-2 m-0  mb-1"> Lorem Ipsum is simply dummy text of the
                        printing
                        and
                        typesetting industry. Lorem Ipsum has</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <h4>Test heading ne</h4>
                  <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
              </div>




            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
