<!-- <app-home-banner
  [bannerTitle]="'Committed to render efficient correct & prompt accounting payment & financial services.'">
</app-home-banner>
<app-home-announcements></app-home-announcements>
<div class="row m-0">
  <div class="col-12 p-0">
    <div class="row home-wrapper-top m-0">
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 left">
        <app-home-whats-new></app-home-whats-new>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 right about-wrapper">

        <div class="container-fluid p-0 rounded-0">
          <div class="rounded-0 about-container ">
            <tabset>
              <tab heading="About" id="AboutUs">
                <app-home-about-us></app-home-about-us>
              </tab>
              <tab heading="Mission Statement">
                <app-home-mission-statement></app-home-mission-statement>
              </tab>
              <tab heading="Quality Policy">
                <app-home-quality-policy></app-home-quality-policy>
              </tab>
            </tabset>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row m-0">
  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
    <app-home-gallery></app-home-gallery>
  </div>
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <app-home-management-autherity></app-home-management-autherity>
  </div>
</div>  -->
<h1>Home</h1>
