<div class="subpage wrapper layout-down">
  <app-site-subpage-banner [heading]="'Contact'" [bannerClass]="'bg-dark-green-img'"></app-site-subpage-banner>
  <section class="site-subpage-content">
    <div class="container subpage-container contact ">
      <div class="content-wrapper">
        <div class="row ">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card shadow-lg rounded-0 subpage-card contact">
              <div class="card-body">
                <h5 class="">Address</h5>
                <address class="m-0 text-dark">
                  asdasdasd
                </address>
                <h5 class="">Phone</h5>
                <a class="tel text-dark" href="tel:020-27171634">020-27171634,</a>
                <a class="tel text-dark" href="tel:020-27171634">020-27171634,</a><br />
                <a class="tel text-dark" href="tel:020-27171634">020-27171634</a>

                <h5 class="">Fax</h5>
                <a class="tel text-dark" href="tel:020-27171634">020-27171634,</a>
                <a class="tel text-dark" href="tel:020-27171634"></a>

                <h5 class="">Email</h5>
                <a class="tel text-dark" href="mailto:text@123dasd.com?Subject=Hello%20again">text@123dasd.com</a>
                <a class="tel text-dark" href="mailto:text@123dasd.com?Subject=Hello%20again">text@123dasd.com</a>


              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">

            <div class="img-container map-container">
              <img src="../../../../assets/images/map-img.png" />
            </div>

          </div>

        </div>

      </div>

    </div>
  </section>

</div>
